<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/tables/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/tables/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/tables/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="static/tables/css/style.css">

    <title>Table #7</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">Table #7</h2>

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">
                <label class="control control--checkbox">
                  <input type="checkbox"  class="js-check-all"/>
                  <div class="control__indicator"></div>
                </label>
              </th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Last name</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Roles</th>
              <th scope="col"></th>
              <th scope="col">Edit</th>
              
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr scope="row">
              <td>
                <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
                </label>
              </td>
              <td>
                {{user.id}}
              </td>
              <td class="pl-0">
                <div class="d-flex align-items-center">
                  <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input" checked="">
                  <span class="ios-switch-control-indicator"></span>
                  </label>

                  <a href="#">{{user.first_name}}</a>
                </div>
              </td>
              <td>
                {{user.last_name}}
              </td>
              <td>{{user.email}}</td>
              {% for role in user.roles %}
              <td>{{role.name}}</td>
              {% endfor %}
              <td><a href="#" class="more">Details</a></td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

    <script src="static/tables/js/jquery-3.3.1.min.js"></script>
    <script src="static/tables/js/popper.min.js"></script>
    <script src="static/tables/js/bootstrap.min.js"></script>
    <script src="static/tables/js/main.js"></script>
  </body>
</html>