<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for product in products %}
    {% for image in product.product_image %}
        <h1>{{image.path}}</h1>
        <h1>{{image.photoId}}</h1>
        <div class="portfolio-img"><img src="{{ url_for('static',filename='products/Laptop/1-0.jpg') }}" class="img-fluid" alt=""></div>
    {% endfor %}
    {% endfor %}
    <!-- <img src="{{ url_for('static',filename='products/Laptop/1-0.jpg') }}"> -->
</body>
</html>